<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/whole_center.css">
    <title>title-1234567890</title>
</head>
<body>
<div class="jumbotron container">
    <h2>title-1234567890</h2>
    <p>
        巴菲特曾说过这样一段话，
        如果你还没有找到一个当你睡觉时还能挣钱的方法，那么你将工作到死！
        成功付款后即可获得阅读密码！
        能在此遇见是我们的缘分，我愿意帮助你，祝你取得成功！
    <p>
        <span style="color: red;">注意: </span>
        付款成功后请等待页面跳转，切勿刷新或关闭页面！
    </p>
    <p>若有疑问，可联系QQ：QQ-1234567890</p>
    <hr>
    <div style="margin-bottom: 20px;">
        <a class="btn btn-danger btn-lg" target="_blank"
           href="/initpay/rid-1234567890" role="button">
            立即付款: price-1234567890元
        </a>
        <a class="btn btn-primary btn-lg" style="margin-left: 30px;"
           href="/qo" role="button">
            订单查询
        </a>
    </div>
    <div>
        <img style="height: 100px; width: 260px;"
             src="/static/img/alipay.jpg" alt="AliPay">
    </div>
</div>
</body>
</html>
