<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/whole_center.css">
    <title>GQYLPY</title>
</head>
<body>
<div class="jumbotron container">
    <h2>GQYLPY</h2>
    <p>tip-1234567890</p>
    <div>
        <a class="btn btn-info btn-xm" href="http://blog.gqylpy.com/" role="button">BLOG</a>
        <a class="btn btn-success btn-xm" disabled href="http://rsc.gqylpy.com" role="button">资源</a>
        <a class="btn btn-primary btn-xm" disabled href="http://shop.gqylpy.com" role="button">商店</a>
        <!--<a class="btn btn-primary btn-lg" style="margin-left: 30px;" href="/qo" role="button">订单查询</a>-->
    </div>
</div>
</body>
</html>
