<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/whole_center.css">
    <title>购买商品 - GQYLPY</title>
</head>
<body>
<div class="jumbotron container">
    <h2>name-1234567890</h2>
    <p><span style="color: red;">注意: </span>成功付款后请等待页面跳转，切勿刷新或关闭页面！</p>
    <hr>
    <div style="margin-bottom: 20px;">
        <a class="btn btn-danger btn-lg" href="/init_pay/cid-1234567890" role="button">
            立即付款: price-1234567890元
        </a>
        <a class="btn btn-primary btn-lg" href="/qo" style="margin-left: 30px;" role="button">
            订单查询
        </a>
    </div>
    <div>
        <img src="/static/img/alipay.jpg" style="height: 100px; width: 260px;" alt="AliPay">
    </div>
</div>
</body>
</html>
